[layout] {
  display: -webkit-flex;
  display: flex; }

[flex] {
  -webkit-flex: 1;
  flex: 1; }

[layout=row] > [flex="1"] {
  max-width: 1%; }

[flex="1"] {
  -ms-flex: 0 0 1%;
  -webkit-flex: 0 0 1%;
  flex: 0 0 1%; }

[layout=row] > [flex="2"] {
  max-width: 2%; }

[flex="2"] {
  -ms-flex: 0 0 2%;
  -webkit-flex: 0 0 2%;
  flex: 0 0 2%; }

[layout=row] > [flex="3"] {
  max-width: 3%; }

[flex="3"] {
  -ms-flex: 0 0 3%;
  -webkit-flex: 0 0 3%;
  flex: 0 0 3%; }

[layout=row] > [flex="4"] {
  max-width: 4%; }

[flex="4"] {
  -ms-flex: 0 0 4%;
  -webkit-flex: 0 0 4%;
  flex: 0 0 4%; }

[layout=row] > [flex="5"] {
  max-width: 5%; }

[flex="5"] {
  -ms-flex: 0 0 5%;
  -webkit-flex: 0 0 5%;
  flex: 0 0 5%; }

[layout=row] > [flex="6"] {
  max-width: 6%; }

[flex="6"] {
  -ms-flex: 0 0 6%;
  -webkit-flex: 0 0 6%;
  flex: 0 0 6%; }

[layout=row] > [flex="7"] {
  max-width: 7%; }

[flex="7"] {
  -ms-flex: 0 0 7%;
  -webkit-flex: 0 0 7%;
  flex: 0 0 7%; }

[layout=row] > [flex="8"] {
  max-width: 8%; }

[flex="8"] {
  -ms-flex: 0 0 8%;
  -webkit-flex: 0 0 8%;
  flex: 0 0 8%; }

[layout=row] > [flex="9"] {
  max-width: 9%; }

[flex="9"] {
  -ms-flex: 0 0 9%;
  -webkit-flex: 0 0 9%;
  flex: 0 0 9%; }

[layout=row] > [flex="10"] {
  max-width: 10%; }

[flex="10"] {
  -ms-flex: 0 0 10%;
  -webkit-flex: 0 0 10%;
  flex: 0 0 10%; }

[layout=row] > [flex="11"] {
  max-width: 11%; }

[flex="11"] {
  -ms-flex: 0 0 11%;
  -webkit-flex: 0 0 11%;
  flex: 0 0 11%; }

[layout=row] > [flex="12"] {
  max-width: 12%; }

[flex="12"] {
  -ms-flex: 0 0 12%;
  -webkit-flex: 0 0 12%;
  flex: 0 0 12%; }

[layout=row] > [flex="13"] {
  max-width: 13%; }

[flex="13"] {
  -ms-flex: 0 0 13%;
  -webkit-flex: 0 0 13%;
  flex: 0 0 13%; }

[layout=row] > [flex="14"] {
  max-width: 14%; }

[flex="14"] {
  -ms-flex: 0 0 14%;
  -webkit-flex: 0 0 14%;
  flex: 0 0 14%; }

[layout=row] > [flex="15"] {
  max-width: 15%; }

[flex="15"] {
  -ms-flex: 0 0 15%;
  -webkit-flex: 0 0 15%;
  flex: 0 0 15%; }

[layout=row] > [flex="16"] {
  max-width: 16%; }

[flex="16"] {
  -ms-flex: 0 0 16%;
  -webkit-flex: 0 0 16%;
  flex: 0 0 16%; }

[layout=row] > [flex="17"] {
  max-width: 17%; }

[flex="17"] {
  -ms-flex: 0 0 17%;
  -webkit-flex: 0 0 17%;
  flex: 0 0 17%; }

[layout=row] > [flex="18"] {
  max-width: 18%; }

[flex="18"] {
  -ms-flex: 0 0 18%;
  -webkit-flex: 0 0 18%;
  flex: 0 0 18%; }

[layout=row] > [flex="19"] {
  max-width: 19%; }

[flex="19"] {
  -ms-flex: 0 0 19%;
  -webkit-flex: 0 0 19%;
  flex: 0 0 19%; }

[layout=row] > [flex="20"] {
  max-width: 20%; }

[flex="20"] {
  -ms-flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%; }

[layout=row] > [flex="21"] {
  max-width: 21%; }

[flex="21"] {
  -ms-flex: 0 0 21%;
  -webkit-flex: 0 0 21%;
  flex: 0 0 21%; }

[layout=row] > [flex="22"] {
  max-width: 22%; }

[flex="22"] {
  -ms-flex: 0 0 22%;
  -webkit-flex: 0 0 22%;
  flex: 0 0 22%; }

[layout=row] > [flex="23"] {
  max-width: 23%; }

[flex="23"] {
  -ms-flex: 0 0 23%;
  -webkit-flex: 0 0 23%;
  flex: 0 0 23%; }

[layout=row] > [flex="24"] {
  max-width: 24%; }

[flex="24"] {
  -ms-flex: 0 0 24%;
  -webkit-flex: 0 0 24%;
  flex: 0 0 24%; }

[layout=row] > [flex="25"] {
  max-width: 25%; }

[flex="25"] {
  -ms-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%; }

[layout=row] > [flex="26"] {
  max-width: 26%; }

[flex="26"] {
  -ms-flex: 0 0 26%;
  -webkit-flex: 0 0 26%;
  flex: 0 0 26%; }

[layout=row] > [flex="27"] {
  max-width: 27%; }

[flex="27"] {
  -ms-flex: 0 0 27%;
  -webkit-flex: 0 0 27%;
  flex: 0 0 27%; }

[layout=row] > [flex="28"] {
  max-width: 28%; }

[flex="28"] {
  -ms-flex: 0 0 28%;
  -webkit-flex: 0 0 28%;
  flex: 0 0 28%; }

[layout=row] > [flex="29"] {
  max-width: 29%; }

[flex="29"] {
  -ms-flex: 0 0 29%;
  -webkit-flex: 0 0 29%;
  flex: 0 0 29%; }

[layout=row] > [flex="30"] {
  max-width: 30%; }

[flex="30"] {
  -ms-flex: 0 0 30%;
  -webkit-flex: 0 0 30%;
  flex: 0 0 30%; }

[layout=row] > [flex="31"] {
  max-width: 31%; }

[flex="31"] {
  -ms-flex: 0 0 31%;
  -webkit-flex: 0 0 31%;
  flex: 0 0 31%; }

[layout=row] > [flex="32"] {
  max-width: 32%; }

[flex="32"] {
  -ms-flex: 0 0 32%;
  -webkit-flex: 0 0 32%;
  flex: 0 0 32%; }

[layout=row] > [flex="33"] {
  max-width: 33%; }

[flex="33"] {
  -ms-flex: 0 0 33%;
  -webkit-flex: 0 0 33%;
  flex: 0 0 33%; }

[layout=row] > [flex="34"] {
  max-width: 34%; }

[flex="34"] {
  -ms-flex: 0 0 34%;
  -webkit-flex: 0 0 34%;
  flex: 0 0 34%; }

[layout=row] > [flex="35"] {
  max-width: 35%; }

[flex="35"] {
  -ms-flex: 0 0 35%;
  -webkit-flex: 0 0 35%;
  flex: 0 0 35%; }

[layout=row] > [flex="36"] {
  max-width: 36%; }

[flex="36"] {
  -ms-flex: 0 0 36%;
  -webkit-flex: 0 0 36%;
  flex: 0 0 36%; }

[layout=row] > [flex="37"] {
  max-width: 37%; }

[flex="37"] {
  -ms-flex: 0 0 37%;
  -webkit-flex: 0 0 37%;
  flex: 0 0 37%; }

[layout=row] > [flex="38"] {
  max-width: 38%; }

[flex="38"] {
  -ms-flex: 0 0 38%;
  -webkit-flex: 0 0 38%;
  flex: 0 0 38%; }

[layout=row] > [flex="39"] {
  max-width: 39%; }

[flex="39"] {
  -ms-flex: 0 0 39%;
  -webkit-flex: 0 0 39%;
  flex: 0 0 39%; }

[layout=row] > [flex="40"] {
  max-width: 40%; }

[flex="40"] {
  -ms-flex: 0 0 40%;
  -webkit-flex: 0 0 40%;
  flex: 0 0 40%; }

[layout=row] > [flex="41"] {
  max-width: 41%; }

[flex="41"] {
  -ms-flex: 0 0 41%;
  -webkit-flex: 0 0 41%;
  flex: 0 0 41%; }

[layout=row] > [flex="42"] {
  max-width: 42%; }

[flex="42"] {
  -ms-flex: 0 0 42%;
  -webkit-flex: 0 0 42%;
  flex: 0 0 42%; }

[layout=row] > [flex="43"] {
  max-width: 43%; }

[flex="43"] {
  -ms-flex: 0 0 43%;
  -webkit-flex: 0 0 43%;
  flex: 0 0 43%; }

[layout=row] > [flex="44"] {
  max-width: 44%; }

[flex="44"] {
  -ms-flex: 0 0 44%;
  -webkit-flex: 0 0 44%;
  flex: 0 0 44%; }

[layout=row] > [flex="45"] {
  max-width: 45%; }

[flex="45"] {
  -ms-flex: 0 0 45%;
  -webkit-flex: 0 0 45%;
  flex: 0 0 45%; }

[layout=row] > [flex="46"] {
  max-width: 46%; }

[flex="46"] {
  -ms-flex: 0 0 46%;
  -webkit-flex: 0 0 46%;
  flex: 0 0 46%; }

[layout=row] > [flex="47"] {
  max-width: 47%; }

[flex="47"] {
  -ms-flex: 0 0 47%;
  -webkit-flex: 0 0 47%;
  flex: 0 0 47%; }

[layout=row] > [flex="48"] {
  max-width: 48%; }

[flex="48"] {
  -ms-flex: 0 0 48%;
  -webkit-flex: 0 0 48%;
  flex: 0 0 48%; }

[layout=row] > [flex="49"] {
  max-width: 49%; }

[flex="49"] {
  -ms-flex: 0 0 49%;
  -webkit-flex: 0 0 49%;
  flex: 0 0 49%; }

[layout=row] > [flex="50"] {
  max-width: 50%; }

[flex="50"] {
  -ms-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%; }

[layout=row] > [flex="51"] {
  max-width: 51%; }

[flex="51"] {
  -ms-flex: 0 0 51%;
  -webkit-flex: 0 0 51%;
  flex: 0 0 51%; }

[layout=row] > [flex="52"] {
  max-width: 52%; }

[flex="52"] {
  -ms-flex: 0 0 52%;
  -webkit-flex: 0 0 52%;
  flex: 0 0 52%; }

[layout=row] > [flex="53"] {
  max-width: 53%; }

[flex="53"] {
  -ms-flex: 0 0 53%;
  -webkit-flex: 0 0 53%;
  flex: 0 0 53%; }

[layout=row] > [flex="54"] {
  max-width: 54%; }

[flex="54"] {
  -ms-flex: 0 0 54%;
  -webkit-flex: 0 0 54%;
  flex: 0 0 54%; }

[layout=row] > [flex="55"] {
  max-width: 55%; }

[flex="55"] {
  -ms-flex: 0 0 55%;
  -webkit-flex: 0 0 55%;
  flex: 0 0 55%; }

[layout=row] > [flex="56"] {
  max-width: 56%; }

[flex="56"] {
  -ms-flex: 0 0 56%;
  -webkit-flex: 0 0 56%;
  flex: 0 0 56%; }

[layout=row] > [flex="57"] {
  max-width: 57%; }

[flex="57"] {
  -ms-flex: 0 0 57%;
  -webkit-flex: 0 0 57%;
  flex: 0 0 57%; }

[layout=row] > [flex="58"] {
  max-width: 58%; }

[flex="58"] {
  -ms-flex: 0 0 58%;
  -webkit-flex: 0 0 58%;
  flex: 0 0 58%; }

[layout=row] > [flex="59"] {
  max-width: 59%; }

[flex="59"] {
  -ms-flex: 0 0 59%;
  -webkit-flex: 0 0 59%;
  flex: 0 0 59%; }

[layout=row] > [flex="60"] {
  max-width: 60%; }

[flex="60"] {
  -ms-flex: 0 0 60%;
  -webkit-flex: 0 0 60%;
  flex: 0 0 60%; }

[layout=row] > [flex="61"] {
  max-width: 61%; }

[flex="61"] {
  -ms-flex: 0 0 61%;
  -webkit-flex: 0 0 61%;
  flex: 0 0 61%; }

[layout=row] > [flex="62"] {
  max-width: 62%; }

[flex="62"] {
  -ms-flex: 0 0 62%;
  -webkit-flex: 0 0 62%;
  flex: 0 0 62%; }

[layout=row] > [flex="63"] {
  max-width: 63%; }

[flex="63"] {
  -ms-flex: 0 0 63%;
  -webkit-flex: 0 0 63%;
  flex: 0 0 63%; }

[layout=row] > [flex="64"] {
  max-width: 64%; }

[flex="64"] {
  -ms-flex: 0 0 64%;
  -webkit-flex: 0 0 64%;
  flex: 0 0 64%; }

[layout=row] > [flex="65"] {
  max-width: 65%; }

[flex="65"] {
  -ms-flex: 0 0 65%;
  -webkit-flex: 0 0 65%;
  flex: 0 0 65%; }

[layout=row] > [flex="66"] {
  max-width: 66%; }

[flex="66"] {
  -ms-flex: 0 0 66%;
  -webkit-flex: 0 0 66%;
  flex: 0 0 66%; }

[layout=row] > [flex="67"] {
  max-width: 67%; }

[flex="67"] {
  -ms-flex: 0 0 67%;
  -webkit-flex: 0 0 67%;
  flex: 0 0 67%; }

[layout=row] > [flex="68"] {
  max-width: 68%; }

[flex="68"] {
  -ms-flex: 0 0 68%;
  -webkit-flex: 0 0 68%;
  flex: 0 0 68%; }

[layout=row] > [flex="69"] {
  max-width: 69%; }

[flex="69"] {
  -ms-flex: 0 0 69%;
  -webkit-flex: 0 0 69%;
  flex: 0 0 69%; }

[layout=row] > [flex="70"] {
  max-width: 70%; }

[flex="70"] {
  -ms-flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
  flex: 0 0 70%; }

[layout=row] > [flex="71"] {
  max-width: 71%; }

[flex="71"] {
  -ms-flex: 0 0 71%;
  -webkit-flex: 0 0 71%;
  flex: 0 0 71%; }

[layout=row] > [flex="72"] {
  max-width: 72%; }

[flex="72"] {
  -ms-flex: 0 0 72%;
  -webkit-flex: 0 0 72%;
  flex: 0 0 72%; }

[layout=row] > [flex="73"] {
  max-width: 73%; }

[flex="73"] {
  -ms-flex: 0 0 73%;
  -webkit-flex: 0 0 73%;
  flex: 0 0 73%; }

[layout=row] > [flex="74"] {
  max-width: 74%; }

[flex="74"] {
  -ms-flex: 0 0 74%;
  -webkit-flex: 0 0 74%;
  flex: 0 0 74%; }

[layout=row] > [flex="75"] {
  max-width: 75%; }

[flex="75"] {
  -ms-flex: 0 0 75%;
  -webkit-flex: 0 0 75%;
  flex: 0 0 75%; }

[layout=row] > [flex="76"] {
  max-width: 76%; }

[flex="76"] {
  -ms-flex: 0 0 76%;
  -webkit-flex: 0 0 76%;
  flex: 0 0 76%; }

[layout=row] > [flex="77"] {
  max-width: 77%; }

[flex="77"] {
  -ms-flex: 0 0 77%;
  -webkit-flex: 0 0 77%;
  flex: 0 0 77%; }

[layout=row] > [flex="78"] {
  max-width: 78%; }

[flex="78"] {
  -ms-flex: 0 0 78%;
  -webkit-flex: 0 0 78%;
  flex: 0 0 78%; }

[layout=row] > [flex="79"] {
  max-width: 79%; }

[flex="79"] {
  -ms-flex: 0 0 79%;
  -webkit-flex: 0 0 79%;
  flex: 0 0 79%; }

[layout=row] > [flex="80"] {
  max-width: 80%; }

[flex="80"] {
  -ms-flex: 0 0 80%;
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%; }

[layout=row] > [flex="81"] {
  max-width: 81%; }

[flex="81"] {
  -ms-flex: 0 0 81%;
  -webkit-flex: 0 0 81%;
  flex: 0 0 81%; }

[layout=row] > [flex="82"] {
  max-width: 82%; }

[flex="82"] {
  -ms-flex: 0 0 82%;
  -webkit-flex: 0 0 82%;
  flex: 0 0 82%; }

[layout=row] > [flex="83"] {
  max-width: 83%; }

[flex="83"] {
  -ms-flex: 0 0 83%;
  -webkit-flex: 0 0 83%;
  flex: 0 0 83%; }

[layout=row] > [flex="84"] {
  max-width: 84%; }

[flex="84"] {
  -ms-flex: 0 0 84%;
  -webkit-flex: 0 0 84%;
  flex: 0 0 84%; }

[layout=row] > [flex="85"] {
  max-width: 85%; }

[flex="85"] {
  -ms-flex: 0 0 85%;
  -webkit-flex: 0 0 85%;
  flex: 0 0 85%; }

[layout=row] > [flex="86"] {
  max-width: 86%; }

[flex="86"] {
  -ms-flex: 0 0 86%;
  -webkit-flex: 0 0 86%;
  flex: 0 0 86%; }

[layout=row] > [flex="87"] {
  max-width: 87%; }

[flex="87"] {
  -ms-flex: 0 0 87%;
  -webkit-flex: 0 0 87%;
  flex: 0 0 87%; }

[layout=row] > [flex="88"] {
  max-width: 88%; }

[flex="88"] {
  -ms-flex: 0 0 88%;
  -webkit-flex: 0 0 88%;
  flex: 0 0 88%; }

[layout=row] > [flex="89"] {
  max-width: 89%; }

[flex="89"] {
  -ms-flex: 0 0 89%;
  -webkit-flex: 0 0 89%;
  flex: 0 0 89%; }

[layout=row] > [flex="90"] {
  max-width: 90%; }

[flex="90"] {
  -ms-flex: 0 0 90%;
  -webkit-flex: 0 0 90%;
  flex: 0 0 90%; }

[layout=row] > [flex="91"] {
  max-width: 91%; }

[flex="91"] {
  -ms-flex: 0 0 91%;
  -webkit-flex: 0 0 91%;
  flex: 0 0 91%; }

[layout=row] > [flex="92"] {
  max-width: 92%; }

[flex="92"] {
  -ms-flex: 0 0 92%;
  -webkit-flex: 0 0 92%;
  flex: 0 0 92%; }

[layout=row] > [flex="93"] {
  max-width: 93%; }

[flex="93"] {
  -ms-flex: 0 0 93%;
  -webkit-flex: 0 0 93%;
  flex: 0 0 93%; }

[layout=row] > [flex="94"] {
  max-width: 94%; }

[flex="94"] {
  -ms-flex: 0 0 94%;
  -webkit-flex: 0 0 94%;
  flex: 0 0 94%; }

[layout=row] > [flex="95"] {
  max-width: 95%; }

[flex="95"] {
  -ms-flex: 0 0 95%;
  -webkit-flex: 0 0 95%;
  flex: 0 0 95%; }

[layout=row] > [flex="96"] {
  max-width: 96%; }

[flex="96"] {
  -ms-flex: 0 0 96%;
  -webkit-flex: 0 0 96%;
  flex: 0 0 96%; }

[layout=row] > [flex="97"] {
  max-width: 97%; }

[flex="97"] {
  -ms-flex: 0 0 97%;
  -webkit-flex: 0 0 97%;
  flex: 0 0 97%; }

[layout=row] > [flex="98"] {
  max-width: 98%; }

[flex="98"] {
  -ms-flex: 0 0 98%;
  -webkit-flex: 0 0 98%;
  flex: 0 0 98%; }

[layout=row] > [flex="99"] {
  max-width: 99%; }

[flex="99"] {
  -ms-flex: 0 0 99%;
  -webkit-flex: 0 0 99%;
  flex: 0 0 99%; }

[layout-wrap] {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

[layout="row"] {
  -webkit-flex-direction: row;
  flex-direction: row; }

[layout-wrap] {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

[layout="column"] {
  -webkit-flex-direction: column;
  flex-direction: column; }

[layout-align="start start"],
[layout-align="start center"],
[layout-align="start end"] {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

[layout-align="center start"],
[layout-align="center center"],
[layout-align="center end"] {
  -webkit-justify-content: center;
  justify-content: center; }

[layout-align="end start"],
[layout-align="end center"],
[layout-align="end end"] {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

[layout-align="space-between start"],
[layout-align="space-between center"],
[layout-align="space-between end"] {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

[layout-align="space-arround start"],
[layout-align="space-arround center"],
[layout-align="space-arround end"] {
  -webkit-justify-content: space-arround;
  justify-content: space-arround; }

[layout-align="start start"],
[layout-align="center start"],
[layout-align="end start"],
[layout-align="space-between start"],
[layout-align="space-arround start"] {
  -webkit-justify-content: flex-start;
  align-items: flex-start; }

[layout-align="start center"],
[layout-align="center center"],
[layout-align="end center"],
[layout-align="space-between center"],
[layout-align="space-arround center"] {
  -webkit-justify-content: center;
  align-items: center; }

[layout-align="start end"],
[layout-align="center end"],
[layout-align="end end"],
[layout-align="space-between end"],
[layout-align="space-arround end"] {
  -webkit-justify-content: flex-end;
  align-items: flex-end; }
